@import "../../../shared_styles/colors.scss";

.progress {
  height: 6px;
  border-radius: 40px;
}

.progress-bar {
  height: 6px;
  width: 1px;
  opacity: 0;
  border-radius: inherit;
  background: linear-gradient(to right, $sunrise, $red);
}

.progress-bar--loading {
  width: 90%;
  opacity: 1;
}

.progress-bar--finishing {
  transition: width 1s, opacity 2s 4s;
  opacity: 0;
  width: 100%;
}
